<!DOCTYPE html>
<html lang="zh-Cn">
<head>
    <meta charset="UTF-8">
    <title>Sign-Up</title>
</head>
<body>
    <div class="top">

    </div>
    <div class="content">
        <div class="login-form">
            <div class="form-title"></div>
            <form action="/signUp" method="post">
                <input type="text" name="nickname" placeholder="input nickname">
                <input type="text" name="email" placeholder="input email">
                <input type="password" name="passwd1" placeholder="password1">
                <input type="password" name="passwd2" placeholder="password2">
                <input type="submit" value="注册">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            </form>
        </div>
    </div>
    <div class="bot">

    </div>
</body>
</html>